@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

:root {
  --button-primary: rgb(255, 115, 0);
  --button-hover: rgba(255, 115, 0, 0.8);
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.media-info-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  z-index: 5;
}

@media screen and (max-width: 550px) {
  .media-info-msg {
    display: none;
  }
}
